<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

    <!-- LicenceToBill URL -->
    <add key="LicenceToBillUrl" value="http://licencetobill.com" />
    <add key="LicenceToBillUrlApi" value="http://dev-ltb-api.poweron.fr/" />

    <add key="LicenceToBillKeyApi" value="ba881e58-58e1-4eb9-8740-c0fbc8483cfd" />
    <add key="LicenceToBillKeyBusiness" value="35c17b63-e3ea-4bf6-aafa-f8ecc4ae90f1" />
    <add key="LicenceToBillKeyFeature1" value="8779046c-5a0e-43fa-8d2b-0b44d4fae0d5" />
    <add key="LicenceToBillKeyFeature2" value="8ea74d22-2bfc-4919-9776-1fc2ca3ba75d" />

    <add key="TestPingUrl" value="http://licencetobill-demo.cloudapp.net/Paybox/Ping" />
    <!--    <add key="TestPingUrl" value="http://dev-ltb-demo.poweron.fr/Paybox/Ping" /> -->

  </appSettings>

  <system.web>
    
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="LicenceToBill.Web.DemoRest" />
      </namespaces>
    </pages>
    
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  </configuration>